<div #mapViewNode style="height: 100vh; width: 100%;">
  <!-- <div id="topbar">
    <button class="action-button esri-icon-map-pin" id="pointButton" type="button" title="Draw point"></button>
    <button class="action-button esri-icon-polyline" id="polylineButton" type="button" title="Draw polyline"></button>
    <button class="action-button esri-icon-polygon" id="polygonButton" type="button" title="Draw polygon"></button>
    <button class="action-button esri-icon-comment" id="textButton" type="button" title="Draw text"></button>
    <button class="action-button esri-icon-trash" id="resetButton" type="button" title="Clear graphics"></button>
  </div> -->
  <!-- <div id="textInputDiv" class="esri-widget">
    <label class="esri-feature-form__label">
      <input type="text" class="esri-input" id="textInput" value="new text alert"/>
    </label>
  </div> -->
</div>
